In [1]:
!pip install keras-tuner

Collecting keras-tuner
  Downloading keras_tuner-1.4.7-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: keras in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (3.4.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (24.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.32.3)
Collecting kt-legacy (from keras-tuner)
  Downloading kt_legacy-1.0.5-py3-none-any.whl.metadata (221 bytes)
Requirement already satisfied: absl-py in /usr/local/lib/python3.10/dist-packages (from keras->keras-tuner) (1.4.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from keras->keras-tuner) (1.26.4)
Requirement already satisfied: rich in /usr/local/lib/python3.10/dist-packages (from keras->keras-tuner) (13.9.1)
Requirement already satisfied: namex in /usr/local/lib/python3.10/dist-packages (from keras->keras-tuner) (0.0.8)
Requirement already satisfied: h5py in /usr/local/lib/python3.10/dist-packages (from keras->keras-tuner) (3.11.0)
Requirement already satisfied: optree in /usr/local/lib/python3.10/dist-packages (from keras->keras-tuner) (0.13.0)
Requirement already satisfied: ml-dtypes in /usr/local/lib/python3.10/dist-packages (from keras->keras-tuner) (0.4.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2024.8.30)
Requirement already satisfied: typing-extensions>=4.5.0 in /usr/local/lib/python3.10/dist-packages (from optree->keras->keras-tuner) (4.12.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from rich->keras->keras-tuner) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from rich->keras->keras-tuner) (2.18.0)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/dist-packages (from markdown-it-py>=2.2.0->rich->keras->keras-tuner) (0.1.2)
Downloading keras_tuner-1.4.7-py3-none-any.whl (129 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.1/129.1 kB 5.1 MB/s eta 0:00:00
Downloading kt_legacy-1.0.5-py3-none-any.whl (9.6 kB)
Installing collected packages: kt-legacy, keras-tuner
Successfully installed keras-tuner-1.4.7 kt-legacy-1.0.5

In [2]:
# Import our dependencies
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as skl
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

In [4]:
# Mount Google Drive if using Google Colab
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
data=pd.read_csv('/content/drive/MyDrive/world_marathon_majors.csv', encoding='cp1252')
data.tail()

,year,winner,gender,country,time,marathon
536,1978,Mark Stanforth,Male,United States,2018-05-04 02:19:20,Chicago
537,1978,Lynae Larson,Female,United States,2018-05-04 02:59:25,Chicago
538,1977,Dan Cloeter,Male,United States,2018-05-04 02:17:52,Chicago
539,1977,Dorothy Doolittle,Female,United States,2018-05-04 02:50:47,Chicago
540,2018,Vivian Cheruiyot,Female,Kenya,2018-05-04 02:18:31,London

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541 entries, 0 to 540
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      541 non-null    int64
 1   winner    536 non-null    object
 2   gender    536 non-null    object
 3   country   536 non-null    object
 4   time      536 non-null    object
 5   marathon  541 non-null    object
dtypes: int64(1), object(5)
memory usage: 25.5+ KB

In [7]:
data.columns

Index(['year', 'winner', 'gender', 'country', 'time', 'marathon'], dtype='object')

In [8]:
from datetime import datetime as dt

In [9]:
# Assuming 'data' is your DataFrame and 'time' is the column containing your datetime strings
data['time'] = pd.to_datetime(data['time'], format="%Y-%m-%d %H:%M:%S")

# Extract hours and minutes
data['hours'] = data['time'].dt.hour
data['minutes'] = data['time'].dt.minute

# Convert to seconds
data['finish_time_seconds'] = (data['hours'] * 3600) + (data['minutes'] * 60)

print(data['finish_time_seconds'])

0       7500.0
1       8340.0
2       7380.0
3       8340.0
4       7560.0
        ...
536     8340.0
537    10740.0
538     8220.0
539    10200.0
540     8280.0
Name: finish_time_seconds, Length: 541, dtype: float64

In [10]:
data.describe()

,year,time,hours,minutes,finish_time_seconds
count,541.000000,536,536.000000,536.000000,536.000000
mean,1987.876155,2018-05-04 02:21:29.744402944,2.026119,19.434701,8460.111940
min,1897.000000,2018-05-04 02:02:57,2.000000,2.000000,7320.000000
25%,1980.000000,2018-05-04 02:09:43,2.000000,9.000000,7740.000000
50%,1993.000000,2018-05-04 02:21:07.500000,2.000000,20.000000,8460.000000
75%,2007.000000,2018-05-04 02:27:36.249999872,2.000000,26.000000,8820.000000
max,2018.000000,2018-05-04 03:30:00,3.000000,59.000000,12600.000000
std,26.198201,NaN,0.159639,11.438720,858.285613

In [11]:
winner_df=data.copy().drop(columns=['time', 'hours', 'minutes','winner'])
winner_df.head()

   year  gender   country marathon  finish_time_seconds
0  2018    Male     Kenya    Tokyo               7500.0
1  2018  Female  Ethiopia    Tokyo               8340.0
2  2017    Male     Kenya    Tokyo               7380.0
3  2017  Female     Kenya    Tokyo               8340.0
4  2016    Male  Ethiopia    Tokyo               7560.0

In [12]:
gender_dummies=pd.get_dummies(winner_df['gender'], drop_first=True, dtype=int)
dummies = pd.get_dummies(winner_df, columns=['country', 'marathon'], dtype=int)

In [13]:
combined_df = pd.concat([ dummies, gender_dummies], axis=1)
combined_df.drop(columns=['gender'], inplace=True)
combined_df

,year,finish_time_seconds,country_Australia,country_Belgium,country_Brazil,country_Canada,country_China,country_Colombia,country_Denmark,country_Eritrea,...,country_United Kingdom,country_United States,country_Yugoslavia,marathon_Berlin,marathon_Boston,marathon_Chicago,marathon_London,marathon_NYC,marathon_Tokyo,Male
0,2018,7500.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
1,2018,8340.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,2017,7380.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
3,2017,8340.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,2016,7560.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536,1978,8340.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
537,1978,10740.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
538,1977,8220.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
539,1977,10200.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
540,2018,8280.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [14]:
combined_df.columns

Index(['year', 'finish_time_seconds', 'country_Australia', 'country_Belgium',
       'country_Brazil', 'country_Canada', 'country_China', 'country_Colombia',
       'country_Denmark', 'country_Eritrea', 'country_Ethiopia',
       'country_Finland', 'country_Germany', 'country_Greece',
       'country_Guatemala', 'country_Hungary', 'country_Ireland',
       'country_Italy', 'country_Japan', 'country_Kenya', 'country_Latvia',
       'country_Mexico', 'country_Morocco', 'country_New Zealand',
       'country_Norway', 'country_Poland', 'country_Portugal',
       'country_Romania', 'country_Russia', 'country_South Africa',
       'country_South Korea', 'country_Soviet Union', 'country_Spain',
       'country_Sweden', 'country_Switzerland', 'country_Tanzania',
       'country_United Kingdom', 'country_United States', 'country_Yugoslavia',
       'marathon_Berlin', 'marathon_Boston', 'marathon_Chicago',
       'marathon_London', 'marathon_NYC', 'marathon_Tokyo', 'Male'],
      dtype='object')

In [15]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541 entries, 0 to 540
Data columns (total 46 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    541 non-null    int64
 1   finish_time_seconds     536 non-null    float64
 2   country_Australia       541 non-null    int64
 3   country_Belgium         541 non-null    int64
 4   country_Brazil          541 non-null    int64
 5   country_Canada          541 non-null    int64
 6   country_China           541 non-null    int64
 7   country_Colombia        541 non-null    int64
 8   country_Denmark         541 non-null    int64
 9   country_Eritrea         541 non-null    int64
 10  country_Ethiopia        541 non-null    int64
 11  country_Finland         541 non-null    int64
 12  country_Germany         541 non-null    int64
 13  country_Greece          541 non-null    int64
 14  country_Guatemala       541 non-null    int64
 15  country_Hungary         541 non-null    int64
 16  country_Ireland         541 non-null    int64
 17  country_Italy           541 non-null    int64
 18  country_Japan           541 non-null    int64
 19  country_Kenya           541 non-null    int64
 20  country_Latvia          541 non-null    int64
 21  country_Mexico          541 non-null    int64
 22  country_Morocco         541 non-null    int64
 23  country_New Zealand     541 non-null    int64
 24  country_Norway          541 non-null    int64
 25  country_Poland          541 non-null    int64
 26  country_Portugal        541 non-null    int64
 27  country_Romania         541 non-null    int64
 28  country_Russia          541 non-null    int64
 29  country_South Africa    541 non-null    int64
 30  country_South Korea     541 non-null    int64
 31  country_Soviet Union    541 non-null    int64
 32  country_Spain           541 non-null    int64
 33  country_Sweden          541 non-null    int64
 34  country_Switzerland     541 non-null    int64
 35  country_Tanzania        541 non-null    int64
 36  country_United Kingdom  541 non-null    int64
 37  country_United States   541 non-null    int64
 38  country_Yugoslavia      541 non-null    int64
 39  marathon_Berlin         541 non-null    int64
 40  marathon_Boston         541 non-null    int64
 41  marathon_Chicago        541 non-null    int64
 42  marathon_London         541 non-null    int64
 43  marathon_NYC            541 non-null    int64
 44  marathon_Tokyo          541 non-null    int64
 45  Male                    541 non-null    int64
dtypes: float64(1), int64(45)
memory usage: 194.5 KB

In [16]:
cleaned_df=combined_df.dropna()

In [17]:
cleaned_df

,year,finish_time_seconds,country_Australia,country_Belgium,country_Brazil,country_Canada,country_China,country_Colombia,country_Denmark,country_Eritrea,...,country_United Kingdom,country_United States,country_Yugoslavia,marathon_Berlin,marathon_Boston,marathon_Chicago,marathon_London,marathon_NYC,marathon_Tokyo,Male
0,2018,7500.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
1,2018,8340.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,2017,7380.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
3,2017,8340.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,2016,7560.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536,1978,8340.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
537,1978,10740.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
538,1977,8220.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
539,1977,10200.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
540,2018,8280.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [18]:
y=cleaned_df['finish_time_seconds']
X=cleaned_df.drop(columns=['finish_time_seconds'])

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [20]:
# Define the deep learning model
nn_model = tf.keras.models.Sequential()
nn_model.add(tf.keras.layers.Dense(units=16, activation="linear", input_dim=45)) # Changed input_dim to 45
nn_model.add(tf.keras.layers.Dense(units=16, activation="linear"))
nn_model.add(tf.keras.layers.Dense(units=16, activation="linear"))
nn_model.add(tf.keras.layers.Dense(units=16, activation="linear"))
nn_model.add(tf.keras.layers.Dense(units=1, activation="linear"))

nn_model.add(tf.keras.layers.Dense(units=1, activation="linear"))

# Compile the Sequential model together and customize metrics
nn_model.compile(loss="mean_squared_error", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn_model.fit(X_train, y_train, epochs=50)
predicted = nn_model.predict(X_test)
predicted

Epoch 1/50

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

13/13 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - accuracy: 0.0000e+00 - loss: 67490088.0000
Epoch 2/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 61142704.0000
Epoch 3/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 51036976.0000
Epoch 4/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 34365368.0000
Epoch 5/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 13730008.0000
Epoch 6/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 1655224.7500
Epoch 7/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 1494394.1250
Epoch 8/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 854998.8125
Epoch 9/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 722597.0625
Epoch 10/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 861643.1875
Epoch 11/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.0000e+00 - loss: 746098.4375
Epoch 12/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.0000e+00 - loss: 854806.7500
Epoch 13/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.0000e+00 - loss: 750456.6875
Epoch 14/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.0000e+00 - loss: 801678.1250
Epoch 15/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.0000e+00 - loss: 754923.4375
Epoch 16/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.0000e+00 - loss: 738575.5625
Epoch 17/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.0000e+00 - loss: 773911.2500
Epoch 18/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.0000e+00 - loss: 812243.7500
Epoch 19/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 795857.5000
Epoch 20/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 810632.9375
Epoch 21/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.0000e+00 - loss: 664504.1875
Epoch 22/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 912533.0000
Epoch 23/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.0000e+00 - loss: 720290.8125
Epoch 24/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 805756.0000
Epoch 25/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.0000e+00 - loss: 897084.8125
Epoch 26/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 692936.3750
Epoch 27/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.0000e+00 - loss: 667350.7500
Epoch 28/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 718142.0625
Epoch 29/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.0000e+00 - loss: 787554.8750
Epoch 30/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 699134.1250
Epoch 31/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.0000e+00 - loss: 744511.1875
Epoch 32/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.0000e+00 - loss: 822317.2500
Epoch 33/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.0000e+00 - loss: 823155.0000
Epoch 34/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.0000e+00 - loss: 831095.1250
Epoch 35/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 797006.6250
Epoch 36/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.0000e+00 - loss: 694849.3125
Epoch 37/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.0000e+00 - loss: 721787.5000
Epoch 38/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 677210.0000
Epoch 39/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.0000e+00 - loss: 733622.0000
Epoch 40/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 856419.3750
Epoch 41/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.0000e+00 - loss: 714916.5000
Epoch 42/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 674579.7500
Epoch 43/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 806158.6250
Epoch 44/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 705931.9375
Epoch 45/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 732941.3125
Epoch 46/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 807690.1250
Epoch 47/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 776970.3750
Epoch 48/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 893387.5625
Epoch 49/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 930336.5625
Epoch 50/50
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 725305.6875
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step

array([[8508.756 ],
       [8504.021 ],
       [8428.47  ],
       [8366.317 ],
       [8474.15  ],
       [8438.078 ],
       [8512.376 ],
       [8523.628 ],
       [8486.667 ],
       [8349.804 ],
       [8433.508 ],
       [8308.879 ],
       [8353.108 ],
       [8341.35  ],
       [8366.263 ],
       [8389.27  ],
       [8354.029 ],
       [8395.219 ],
       [8437.587 ],
       [8189.717 ],
       [8286.339 ],
       [8231.983 ],
       [8328.671 ],
       [8482.958 ],
       [8492.087 ],
       [8038.9336],
       [8220.684 ],
       [8382.664 ],
       [8532.953 ],
       [8172.8096],
       [8030.4805],
       [8503.573 ],
       [8483.35  ],
       [8469.975 ],
       [8452.853 ],
       [8280.749 ],
       [8491.206 ],
       [8465.059 ],
       [8484.273 ],
       [8391.37  ],
       [8443.87  ],
       [8304.651 ],
       [8376.545 ],
       [8470.737 ],
       [8382.641 ],
       [8432.912 ],
       [8442.746 ],
       [8470.716 ],
       [8147.45  ],
       [8531.1045],
       [8417.473 ],
       [8419.041 ],
       [8464.217 ],
       [8467.293 ],
       [8092.5024],
       [8075.596 ],
       [8379.921 ],
       [8130.542 ],
       [8442.012 ],
       [8523.055 ],
       [8405.772 ],
       [8507.326 ],
       [8393.734 ],
       [8495.568 ],
       [8079.8228],
       [8411.926 ],
       [8391.291 ],
       [8415.789 ],
       [8409.86  ],
       [8138.997 ],
       [8525.685 ],
       [8382.538 ],
       [8483.744 ],
       [8445.725 ],
       [8215.078 ],
       [8113.636 ],
       [8410.694 ],
       [8330.468 ],
       [8088.277 ],
       [8475.842 ],
       [8308.938 ],
       [8318.331 ],
       [8435.159 ],
       [8443.92  ],
       [8353.229 ],
       [8254.55  ],
       [8148.8286],
       [8143.2227],
       [8504.528 ],
       [8206.624 ],
       [8438.222 ],
       [8374.892 ],
       [8461.36  ],
       [8294.792 ],
       [8266.67  ],
       [8403.672 ],
       [8510.705 ],
       [8493.781 ],
       [8364.392 ],
       [8441.843 ],
       [8453.809 ],
       [8379.39  ],
       [8195.323 ],
       [8437.763 ],
       [8516.68  ],
       [8424.605 ],
       [8362.211 ],
       [8387.145 ],
       [8519.95  ],
       [8519.356 ],
       [8399.191 ],
       [8336.73  ],
       [8433.143 ],
       [8510.176 ],
       [8383.169 ],
       [8442.807 ],
       [8445.534 ],
       [8219.305 ],
       [8348.881 ],
       [8370.107 ],
       [8441.989 ],
       [8365.789 ],
       [8483.418 ],
       [8366.437 ],
       [8429.134 ],
       [8384.937 ],
       [8121.509 ],
       [8436.924 ],
       [8452.036 ],
       [8519.457 ],
       [8357.336 ],
       [8370.937 ],
       [8362.091 ],
       [8463.094 ]], dtype=float32)

In [24]:
from sklearn.linear_model import LogisticRegression, LinearRegression


# Define the logistic regression model
log_classifier = LinearRegression()

# Train the model
log_classifier.fit(X_train,y_train)

#from sklearn.metrics import accuracy_score
y_pred = log_classifier.predict(X_test)
#print(f" Logistic regression model accuracy: {accuracy_score(y_test,y_pred):.3f}")
print(y_pred)

[7446.11295631 8657.90143526 7772.05869031 8424.93608789 7689.60347547
 8930.44269626 8553.11164132 7756.44211277 7461.39038493 9739.57084678
 8738.01469486 8382.53390727 9701.33825268 9776.76698201 8394.27525556
 9192.31296426 9720.97277917 8653.07340082 9298.71606813 9225.68945405
 8362.31733135 9039.70877794 9832.56118484 8962.49027026 8697.69280943
 9413.3243524  8613.60744512 7882.38074024 7165.49132627 9300.0817245
 9450.52048763 7386.99811448 7673.04604454 8740.38778866 7610.17492582
 8427.83720958 8709.99604463 8805.64951727 7540.40306208 7597.28514447
 8867.979023   8401.13197488 8121.4368745  7586.0780142  9540.49094707
 8958.06575598 8736.33196886 7613.49556481 9411.67013016 7668.95061873
 7802.82507236 8753.5733559  8739.47527572 7532.59618392 9653.44500911
 9727.83727955 8388.77641155 9486.06240061 9407.82619393 8382.96868424
 8797.81967857 8619.66884115 7901.2087047  8695.09757049 9709.23921194
 7854.9617264  9631.00300526 7827.85289314 8927.93572743 9448.86626539
 7344.30313525 8708.86760366 8761.01102403 8900.97608192 9114.10104839
 9560.45467105 7937.91365731 8164.30083614 9672.04307672 7550.18164669
 8151.18890966 7902.63133975 7649.05378704 8800.26995751 9825.80316437
 8539.42561525 8929.77459451 9430.26819778 7464.71102392 9151.29718361
 7547.19756892 8512.20486436 7603.63962292 8325.12119613 8337.16958577
 8615.8772656  7539.31318609 9322.56546289 7981.27314635 8590.90999394
 7687.88783525 9609.38437351 8725.19585079 9453.84181215 8629.52478304
 7799.16752357 8567.99906719 7615.88321208 8533.21380599 7180.9587899
 7880.09509691 8555.12256116 8606.98735819 8759.92114805 8319.88298512
 8903.48600821 8824.01768803 9095.50298077 9719.93632029 9016.98570902
 9435.24374454 9645.54404984 7530.28381136 8549.40099958 9335.91220335
 8075.18624088 9423.54975789 7734.86255509 8998.22512106 7348.11282925
 9682.74018506 9646.58050873 8443.5341555  8607.82822158]

# New Section